@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'SUIT-Regular';
  color: #333;
  word-break: keep-all;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
h2 {
  margin-bottom: 1rem;
}
li {
  list-style: none;
}

.inner {
  max-width: 140rem;
  margin: 0 auto;
}
@media (max-width: 400px) {
  h2 {
    margin-top: 1rem;
    text-align: center;
  }
}
