@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css');

* {
  padding: 0;
  margin: 0;
  font-family: 'SUIT';
  color: #333;
  word-break: keep-all;
  font-weight: 400;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
h2 {
  margin-bottom: 1rem;
}
li {
  list-style: none;
}
:where(h1, h2, h3, b) {
  font-weight: 600;
  letter-spacing: -0.5px;
}
img {
  object-fit: cover;
}

#skipMenu {
  position: relative;
  z-index: 9999;
}
#skipMenu a {
  position: absolute;
  left: 0;
  top: -200px;
  width: 160px;
  line-height: 30px;
  border: 1px solid #dedede;
  background-color: #333;
  color: #fff;
  text-align: center;
}
#skipMenu a:focus,
#skipMenu a:active {
  top: 0;
}

.inner {
  max-width: 140rem;
  margin: 0 auto;
}
@media (max-width: 400px) {
  html {
    font-size: 9px;
  }
  h2 {
    margin-top: 1rem;
    text-align: center;
  }
}
